.forum-stats-wrapper {
    margin: 0 10px;
    padding: 8px;
    display: flex;
    justify-content: space-around;
}

.forum-stats-wrapper p {
    color: #C6C6C6;
    border-bottom: 3px solid #2b5a75;
    padding-bottom: 6px;
}

.viewonline-wrapper {
    margin: 0 9px;
}

.viewonline-wrapper p {
    background: #232323;
    color: #C6C6C6;
    padding: 10px;
    border-bottom: 4px solid #2b5a75;
}

div.viewonline-wrapper>p>em {
    color: transparent;
    text-align: center;
    display: block;
    font-style: unset;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Montserrat;
    position: relative;
    right: 48px;
    padding: 20px 0;
}